@import '~antd/dist/antd.css';

.form-control
{
    width: 350px;
}
.img-messenger{
  height: 100px;
  width: 100px;
}
.App{
    text-align: center;
}
.form-app{
    position: fixed;
    background-color: #e9e9eb;
    margin:20px;
    padding:20px;
    bottom: 0;
    z-index: 1;
    width:90%;
}
.appform_control{
    display: flex!important;
    flex-direction: row!important;
}
.app_input{
    flex:1;
}
.app_IconButton{
    flex:0;
}